# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.opensdf
*.sdf
*.suo

/project/win32/NyraCore/Debug
/project/win32/NyraCore/Release
project/win32/NyraCore/NyraCore.vcxproj.user
